body {
    margin: 0%;
    background-color: #eafcff;
}

nav {
    font-family: "Helvetica";
    font-size: x-large;
    background-color: #137f9a;
    overflow: auto;
    border-bottom: thick solid black;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    padding: 3%;
    float: left;
}

a#name {
    padding-right: 40%;
}

h1#Heading {
    padding-left: 10%;
    padding-top: 5%;
}

p#Description {
    padding-left: 5%;
    font-family: 'Brush Script MT', cursive;
}

div#image{
    height: 60%;
    width: 40%;
}

div#image img{
    width: 100%;
    height: 100;
    object-fit: cover;
}

div#Hobbies{
    height: 10%;
    width: 10%;
}

div#Hobbies img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.3em solid black ;
    border-radius: 50%;
}
